<div class="container">
  <h2>Jogo da Forcaaaa</h2>
  <h3>Bem vindo: {{ eu.nome }}</h3>

  <h4>Palavras:</h4>

  <div class="palavra" *ngFor="let chare of charess">
    <ng-container *ngFor="let item of chare">
      <span *ngIf="item.shown">{{ item.val }}</span>
      <span *ngIf="!item.shown">_</span>
    </ng-container>
  </div>
</div>

<div>
  {{eu.socketId}}   -
  {{players[currentPlayer].socketId}}
  {{players|json}}
  <h4>Jogador da vez: {{ players[currentPlayer].nome }}</h4>
  <label for="">Palpite:</label>
  <input
    [disabled]="players[currentPlayer].socketId !== eu.socketId"
    [(ngModel)]="palpite"
  />
  <button (click)="palpitar()">enviar</button>
</div>

<div>
  <h4>Jogadores</h4>
  <div>
    <div *ngFor="let jogador of players">
      <span>{{ jogador.nome }}</span>
      <span>{{ jogador.score }}</span>
    </div>
  </div>
</div>
