.container{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

span{
  margin: 1em 0;
  font-size: 45px;
  letter-spacing: 10px;
}

.palavra{
  display: flex;
}

.span-shown{

}

.span-hidden{

}
